.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 300px;
}

.ListContainer h2 {
  text-decoration: underline;
  text-underline-offset: 3px;
}
.ListContainer ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin: 0;
  padding: 0.5em 0.5em 0.5em 0;
  gap: 1em;
}

.ListContainer li {
  padding: 1em;
  border: 1px solid black;
  list-style: none;
}
